@import "tailwindcss";

:root {
    --font-heading: 'Outfit', sans-serif;
    --font-body: 'Inter', sans-serif;
}

body {
    font-family: var(--font-body);
    background-color: #f9fafb;
    color: #1f2937;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}